/*Material icon css start*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*Material icon css end*/
.btn_action{
    padding-left: 20px;
    padding-right: 20px;
}
.btn_new.uxf-btn__toggle {
    padding: 5px 20px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 2px;
}

.btn_new.uxf-btn__toggle {
    background-color: #fff;
    border: 1px solid #000;
    color: #000000;
    font-weight: 400;
}
 .btn_new {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto !important;
    width: 100%;
}
.btn_new.uxf-btn__toggle:hover {
    color: #fff;
}
.btn_new.uxf-btn__toggle:hover {
    background-color: #367c2b;
    border-color: #367c2b;
}
.btn_new.uxf-btn__toggle i{
    position: absolute;
    font-size: 24px;
}
.btn_new.uxf-btn__toggle span{
    margin-left: 30px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-left-20{
    margin-left: 20px;
}
.comments textarea{
    width:100%;
    height: 112px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
}
.btn-default {
    background-image: linear-gradient(180deg,#d8d8d8 0,#d8d8d8 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFD8D8D8",endColorstr="#FFD8D8D8",GradientType=0);
    border: none;
    color: #333;
    font-weight: 400;
	background-color:transparent;
}
.btn-default:disabled {
    color: #aaa;
}
.btn-primary, .btn-primary:active{
    background-image: linear-gradient(180deg,#fdda01 0,#fdda01 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFDDA01",endColorstr="#FFFDDA01",GradientType=0);
    border: none;
    color: #333;
    font-weight: 400;
}

.uxf.uxf-2018 .btn-primary.focus, .uxf.uxf-2018 .btn-primary:focus, .uxf.uxf-2018 .btn-primary:hover {
    border-color: transparent;
    color: #333;
    background-image: linear-gradient(180deg,#f5ca0c 0,#f5ca0c 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF5CA0C",endColorstr="#FFF5CA0C",GradientType=0);
}
.character-count-container{
    float: right;
    color: #aaa;
}
.comments{
    position: relative;
}
.close-btn{
    position: absolute;
    right: -5px;
    top: -2px;
    color: #666;
    cursor: pointer;
}