body { color: #000000; font-family: Calibri, Verdana, sans-serif !important; font-size: 14px; font-weight: normal; height: 100%; margin: 0; overflow-x: hidden; padding: 0; }
select { margin: 0; }
td { font-size: 14px; padding-bottom: 0; padding-top: 0; }
a { color: #198519; text-decoration: none; }
a:hover { text-decoration: underline; }
ul li { list-style-image: url("../img/bullet.png");}
ol { list-style-image: none; }
.ent_headerbg { background-image: url("http://www.deere.com/media/images/common/headerbg.gif"); background-repeat: no-repeat; }
.ent_nametag { background: #339900 none repeat scroll 0 0; color: #ffffff; font-weight: bold; text-align: right; }
.ent_levels_on { color: #000000; }
.ent_leftnavbg { background: #fcf4d0 none repeat scroll 0 0; }
.ent_leftnav_divider { background: #d68f00 none repeat scroll 0 0; }
.ent_leftnav_openbg { }
.ent_leftnavcell_on { background: #ffcc00 none repeat scroll 0 0; font-weight: bold; }
.ent_contentbg { background: #ffffff none repeat scroll 0 0; }
.ent_rightcolbg { background: #b2b2b2 none repeat scroll 0 0; }
.ent_pagetitle { color: #454545; font-size: 20px; font-weight: bold; margin-bottom: 0; padding: 5px 5px 5px 0; }
#sidebar .ent_pagetitle { display: table !important; height: 45px; min-height: 45px; padding-top: 0; width: 168px; }
#sidebar .ent_pagetitle p { display: table-cell; font-size: 15px; vertical-align: middle; }
.ent_titlerule { background: #ffcc00 none repeat scroll 0 0; }
.ent_pagetitle_plain { font-size: 14px; font-weight: bold; }
.ent_sectionbar { background: #999999 none repeat scroll 0 0; color: #ffffff; font-size: 14px; font-weight: bold; padding: 5px; }
.ent_sectionbarcenter { background: #ffd100 none repeat scroll 0 0; font-weight: bold; padding: 2px 3px; text-align: center; vertical-align: middle; }
.ent_heading { font-weight: bold; }
.ent_heading_red { color: #990033; font-weight: bold; }
.ent_red { color: #990033; }
.ent_eleven { font-size: 11px; }
.ent_elevenred { color: #990033; font-size: 11px; }
.ent_error { background: #990033 none repeat scroll 0 0; color: #ffffff; padding: 3px; }
.ent_biggrey { color: #cccccc; font-size: 22px; }
.ent_heading_yellow { color: #ffcc00; font-weight: bold; }
.ent_yellow { color: #ffcc00; }
a.ent_yellow:hover { color: #ffe066; }
a.ent_yellow:visited { color: #ffe066; }
a.ent_nametag { color: #99cc99; text-decoration: none; }
a.ent_nametag:visited { color: #99cc99; }
a.ent_nametag:hover { color: #ffd100; }
.ent_white { color: #ffffff; }
a.ent_white { color: #ffffff; text-decoration: underline; }
a.ent_white:visited { color: #cccccc; }
a.ent_white:hover { color: #ffcc00; }
.ent_black { color: #000000; }
a.ent_black { color: #000000; text-decoration: underline; }
a.ent_black:visited { color: #cccccc; }
a.ent_black:hover { color: #ffcc00; }
a.ent_rtcol { color: #000000; text-decoration: underline; }
a.ent_rtcol:visited { color: #4b4a4a; }
a.ent_rtcol:hover { color: #4b4a4a; }
.ent_toplinks { font-size: 11px; }
a.ent_toplinks { color: #000000; text-decoration: none; }
a.ent_toplinks:visited { color: #000000; }
a.ent_toplinks:hover { color: #7f7f7f; }
.ent_bcrumb_on { color: #198519; font-weight: bold; }
.ent_bcrumb { color: #198519; font-size: 14px; }
a.ent_bcrumb { color: #198519; padding: 0 3px 0 0; text-decoration: underline; }
a.ent_bcrumb:visited { color: #198519; }
a.ent_bcrumb:hover { color: #7f7f7f; }
.ent_alevelbg { background: #000000 none repeat scroll 0 0; }
.ent_alevel_on { background: #666666 none repeat scroll 0 0; padding: 0 2px; }
.ent_alevel { font-size: 11px; }
a.ent_alevel { color: #ffffff; text-decoration: none; }
a.ent_alevel:visited { color: #ffffff; }
a.ent_alevel:hover { color: #ffd100; }
a.ent_leftnavmainlink { color: #000000; line-height: 14px; text-decoration: none; }
a.ent_leftnavmainlink:visited { color: #000000; }
a.ent_leftnavmainlink:hover { color: #666666; }
a.ent_leftnavsublink { color: #000000; font-size: 11px; line-height: 14px; text-decoration: none; }
a.ent_leftnavsublink:visited { color: #000000; }
a.ent_leftnavsublink:hover { color: #666666; }
.ent_blevel { }
.ent_clevel { padding: 2px 0 2px 10px; }
.ent_dlevel { padding: 2px 0 2px 16px; }
.ent_elevel { padding: 2px 0 2px 22px; }
.ent_flevel { padding: 2px 0 2px 28px; }
.ent_glevel { padding: 2px 0 2px 34px; }
.ent_footerbg { background: #666666 none repeat scroll 0 0; }
.ent_footer { font-size: 14px; white-space: normal; }
a.ent_footer { color: #006600; text-decoration: none; }
a.ent_footer:visited { color: #006600; }
a.ent_footer:hover { color: #7f7f7f; }
a.ent_sectiontext { color: #000000; text-decoration: none; }
a.ent_sectiontext:visited { color: #000000; }
a.ent_sectiontext:hover { color: #000000; text-decoration: underline; }
.ent_celloutline { }
.ent_sidebar { background: #ffcc66 none repeat scroll 0 0; }
.ent_caption { font-size: 14px; padding-bottom: 7px; }
a.ent_caption { color: #006600; text-decoration: underline; }
.ent_darkgreybg { background: #666666 none repeat scroll 0 0; }
.ent_lightgreyrule { background: #e6e6e6 none repeat scroll 0 0; }
.ent_greyrule { background: #cccccc none repeat scroll 0 0; }
.ent_yellowrule { background: #ffcc66 none repeat scroll 0 0; }
.ent_smallblack { font-size: 11px; padding: 2px 3px; }
.ent_redbar { background: #990033 none repeat scroll 0 0; color: #ffffff; font-weight: bold; padding: 10px; }
.ent_lightgreycell { background: #f2f2f2 none repeat scroll 0 0; }
.ent_smallyellowbar { background: #ffcc66 none repeat scroll 0 0; font-size: 10px; font-weight: bold; padding: 2px 3px; }
.ent_button { background: #eeeeee none repeat scroll 0 0; border-color: #e6e6e6 #a6a6a6 #a6a6a6 #e6e6e6; border-style: solid; border-width: 1px; font-size: 10px; padding: 2px 4px; text-transform: uppercase; }
a.ent_printbutton { color: #000000; font-size: 10px; text-decoration: none; text-transform: uppercase; }
.ent_modelrollover { height: 300px; position: absolute; visibility: hidden; width: 302px; z-index: 1; }
.ent_table_yellowbg { background: #ffcc00 none repeat scroll 0 0; font-size: 11px; padding: 1px 0 1px 5px; }
.ent_table_greybg { background: #ececec none repeat scroll 0 0; font-size: 11px; padding: 1px 0 1px 5px; }
.ent_table { font-size: 11px; padding: 1px 0 1px 5px; }
.ent_inputtextsmall { height: 20px; width: 110px; }
.ent_inputtextlarge { height: 20px; width: 225px; }
.ent_inputtextarea { width: 225px; }
#ent_sitemap dl { border: medium none currentcolor; margin: 0 0 0 20px; padding: 0; }
#ent_sitemap dd { border: medium none currentcolor; margin: 0; padding: 0; }
.hightemp { color: #cc0033; font-weight: bold; padding: 0 0 0 5px; }
.lowtemp { color: #0033cc; font-weight: bold; padding: 0 0 0 5px; }
.weatherdesc { padding: 0 0 0 5px; }
a.blacksm:link { color: #7e7e7e; text-decoration: none; }
a.blacksm:visited { color: #7e7e7e; text-decoration: none; }
a.blacksm:active { color: #7e7e7e; text-decoration: none; }
a.blacksm:hover { color: #006600; text-decoration: none; }
.ent_green { background: #1e790c none repeat scroll 0 0; color: #ffffff; font-weight: bold; padding: 2px 5px; }
.ent_mydealeremail { font-family: Arial, sans-serif; font-size: 11px; }
.ent_myequipgrey { color: #999999; }
.supplemental_info_para_title { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
.archives_sectionbar { background: #cccccc none repeat scroll 0 0; font-weight: bold; padding: 1px 0 1px 5px; }
.archives_pagetitle { background: #009933 none repeat scroll 0 0; color: #ffffff; font-weight: bold; padding: 2px 5px; }
#micontainer { font-family: Verdana, Helvetica, Arial, sans-serif; margin: 10px auto; width: 796px; }
#mitoprightmenu { float: right; }
#mitoprightmenu a { padding: 3px; }
#mipagenameandlogo { clear: both; height: 68px; margin-bottom: 0; margin-top: 0; }
#mipagename { color: #000000; float: left; font-size: 17px; padding-left: 10px; padding-top: 3px; text-align: left; }
#mipagename span { font-size: 32px; font-weight: bold; }
#mithelogo { float: right; padding-right: 10px; padding-top: 15px; }
#migybargrad { height: 14px; width: 100%; }
#migreenbar { background-color: #367c2b; height: 12px; }
#miyellowbar { background-color: #ffde00; height: 3px; }
#mimenubarlinks { margin-top: 0; width: 100%; }
#mimenubarlinks2 { margin-top: 0; width: 100%; }
#mimenubarlinks2 td { background-color: #e5e6e6; padding: 2px 10px; }
#mimenubarlinks a { color: #000000; font-size: 12px; font-weight: normal; text-decoration: none; }
#mimenubarlinks2 a { color: #000000; font-size: 12px; font-weight: normal; text-decoration: none; }
#mimenubarlinks a:visited { color: #000000; }
#mimenubarlinks2 a:visited { color: #000000; }
#mimenubarlinks a:hover { color: #7f7f7f; text-decoration: underline; }
#mimenubarlinks2 a:hover { color: #7f7f7f; text-decoration: underline; }
#mimenubarlinks ul { list-style: outside none none; margin: 0; padding: 0; }
#mimenubarlinks li { background-color: #e5e6e6; display: inline; margin-right: 2px; padding-left: 10px; }
td.ent_bcrumb a { text-decoration: none; }
td.ent_bcrumb a:hover { color: #198519 !important; text-decoration: underline; }
.searchBox { float: right; margin-right: -8px; }
.search { border-color: #dddddd currentcolor #dddddd #dddddd; border-radius: 3px 0 0 3px; border-style: solid none solid solid; border-width: 1px medium 1px 1px; font-family: Calibri; font-size: 18px; padding-left: 10px; }
.button { background-color: #ffdd00 !important; background-repeat: repeat-x; border: 0 none currentcolor !important; border-radius: 0 3px 3px 0; cursor: pointer; left: -8px; padding: 0 10px; position: relative; top: 3px; }
.button:hover { background: #ffcd05 none repeat scroll 0 0 !important; }
input { height: 30px; }
button { height: 30px; }
.btn { height: 30px; }
#footerBg { background: #696969 none repeat scroll 0 0; padding: 12px 0; }
.footer { color: #cbcbcb; line-height: 16px; margin-top: 20px; }
.leftHeadingTop { background: #ffffff none repeat scroll 0 0; font-size: 16px !important; padding-left: 20px; }
#leftnav1 { background-color: #e6e6e6; border: 0 none currentcolor; color: #454545; font-size: 15px; margin: 0; padding: 0; text-decoration: none; }
#leftnav1 td a { border: 0 none currentcolor !important; display: block; font-size: 14px; font-weight: normal; text-align: left; }
#leftnav1 td a:hover { background-color: #e6e6e6 !important; text-decoration: underline !important; }
#leftnav2 tr.ent_leftnavcell_on { background: #000000 url("../img/ribbon.png") no-repeat scroll left bottom; font-size: 15px; font-weight: bold; height: 47px; margin-left: -8px; padding: 10px 0 0 27px; }
#leftnav1 td.ent_leftnav_openbg_first { background-color: #ffffff !important; width: 9px; }
#leftnav2 tr.ent_leftnavcell_on td a { border: 0 none currentcolor; text-decoration: none; }
#leftnav2 tr.ent_leftnavcell_on td a:hover { background-color: inherit !important; }
#leftnav1 td a { color: #333333; display: block; margin-left: 35px; padding: 5px 10px 5px 16px !important; }
#leftnav2 { background-color: #f1f1f1; border: 0 none currentcolor; color: #367c2b; display: table; margin: 0; padding: 0; text-decoration: none; }
#leftnav2 td { font-size: 15px; text-align: left; }
#leftnav2 td a { border-bottom: 1px solid #dddddd; color: #333333; display: block; margin-left: 20px; padding: 10px 5px; }
#leftnav2 td a b { font-size: 14px; font-weight: normal; }
#leftnav2 td a b.fontBold { font-weight: bold; }
#leftnav2 td a:hover { background-color: #ebebeb; }
#leftnav2 td a:hover { text-decoration: none; }
#leftnav2 td.ent_blevel a { background-color: #ffffff !important; border: 0 none currentcolor !important; margin: 0 !important; padding: 10px 0 !important; }
#leftnav2 td.ent_blevel b { font-weight: normal; }
#leftnav2 td.ent_blevel a:hover { text-decoration: underline; }
.normalHead { color: #454545; font-size: 18px; font-weight: bold; padding: 10px 0 2px; }
.heightGreenList td { padding-top: 8px; }
.heightGreenList td a { font-size: 14px; text-decoration: none; }
.greenList { list-style: outside none none; margin-bottom: 10px; }
.greenList li { list-style: outside none none !important; margin-top: 10px; }
.greenList li a { font-size: 14px; text-decoration: none; }
.greenList li a:hover { font-size: 14px; text-decoration: underline; }
.heightGreenList td a:hover { color: #198519 !important; text-decoration: underline; }
p { font-size: 14px; }
.ent_leftnav_openbg_second { background-color: #ffffff; width: 9px; }
.borderLeftPadding { border-left: 1px solid #919294; padding-left: 8px; }
.borderRightPadding { padding-right: 5px; }
.listStyle li { font-size: 14px; list-style: inherit; }
.btns { float: right; padding: 3px 0 0; }
.btn-margin { margin-right: 16px; }
input { cursor: pointer; }
button { cursor: pointer; }
.btn { cursor: pointer; }
.btn { background-color: #dadada; background-repeat: repeat-x; border: medium none currentcolor !important; border-radius: 3px !important; box-shadow: none !important; color: #454545; font-family: calibri; font-size: 14px; font-weight: bold; padding: 0 16px; text-shadow: none; }
.btn:hover { background: #dedede none repeat scroll 0 0; border: 1px solid #000000; outline: 0 none !important; }
.btn:focus { background: #dedede none repeat scroll 0 0; border: 1px solid #000000; outline: 0 none !important; }
.btn:active { background: #dedede none repeat scroll 0 0; border: 1px solid #000000; outline: 0 none !important; }
.btn-yellow { background-color: #ffdd00 !important; background-repeat: repeat-x; border: 0 none currentcolor !important; }
.btn-yellow:hover { background: #ffcd05 none repeat scroll 0 0 !important; }
.btn-yellow:active { background: #ffcd05 none repeat scroll 0 0 !important; }
.btn-yellow:focus { background: #ffcd05 none repeat scroll 0 0 !important; }
.marginLeft { margin: 0 0 0 10px; }
.marginLeft18 { margin-left: 18px; }
.marginTop { margin-top: 4px; }
.footerLink { background: #f1f1f1 none repeat scroll 0 0; margin-top: 20px; overflow: hidden; padding: 15px 5px; }
.footerLeft { float: left; }
.footerRight { float: right; }
.footerLink ul li { float: left; list-style: outside none none; }
.footerLink ul li { color: #666666; margin: 0; padding: 0; }
.footerLink ul li a { color: #666666; padding: 0 10px; text-decoration: underline; }
.footerMiddle { color: #666666; margin-right: 20px; }
.paddingLeftZero { padding-left: 0 !important; }
.paddingRightZero { padding-right: 0 !important; }
.footerLink ul { margin: 0; padding: 0; }
.colWidth { width: 288px; }
.marginLeftRight47 { margin: 0 47px; }
.marginTop10 { margin-top: 10px; }
.paddingTopBottom4 { padding: 4px 0; }
.allAnchorTag a { font-size: 14px; }
.tocDetailsViewTable { border: 1px solid #ffffff; border-collapse: collapse; font-size: 14px; margin-top: 10px; }
.tocDetailsViewTable td { padding: 6px; }
.tableMainHeading { background: #367c2b none repeat scroll 0 0; color: #ffffff; font-size: 14px; font-weight: bold; }
.accordian b { background: #000000 url("../img/arrow.png") no-repeat scroll 1px 7px; color: #454545; padding-left: 20px; }
.accordian:hover { cursor: pointer; text-decoration: underline; }
.accordianActive { background: #000000 url("../img/arrow.png") no-repeat scroll 1px -46px !important; }
.collapsed { display: none; }
.tableMaxWidthTd td { max-width: 150px; word-break: break-all; }
.wordBreak { word-break: break-all; }
table.tableDesign { border-collapse: collapse; font-family: Calibri, Verdana, sans-serif; font-size: 13px; }
table.tableDesign tr.tableHead td { background: #dddddd none repeat scroll 0 0; border-right: 1px solid #ffffff; color: #454545; padding: 11px 14px; text-align: left; }
table.tableDesign td { border-right: 1px solid #dddddd; font-size: 13px; padding: 15px 18px; }
table.tableDesign tr.tableHead td:last-child { border: 0 none currentcolor; }
table.tableDesign td:last-child { border: 0 none currentcolor; }
table.tableDesign tr:nth-child(2n+1) { background: #f7f7f7 none repeat scroll 0 0; }
.tableBorderBottom { border-bottom: 1px solid #ffffff; }
#expandFooter { border-top: 1px solid #cccccc; padding: 12px 0; }
#expandFooter .footer { color: #333333; }
.effectiveDate { font-size: 16px; }
table.tblBorder { border-spacing: 1px !important; }
table.tblBorder table { border-spacing: 1px !important; }
.divImg { display: inline-block; float: left; max-width: 288px !important; min-width: 76px !important; width: auto; }
.divImg img { height: auto !important; max-width: 288px !important; min-width: 76px !important; }
.divTxt { display: inline-block; float: left; max-width: 288px !important; min-width: 210px !important; }
.divTxt table td { padding: 2px 0 2px 9px; }
.searchfields .input-group-btn { padding: 2px 0; }
.searchfields .input-group-btn img { max-width: inherit }
.searchfields .form-control { min-height: 30px; }
.custom-leftcol { overflow: hidden; }
.custom-rightcol { float: right; }
.custom-right { float: right; width: 230px; }
.custom-left { float: none; overflow: hidden; padding-right: 30px; width: auto; }
.custom-thumbnail .thumbnail { min-height: 315px; padding: 0; border: 0; }
.custom-thumbnail .thumbnail .caption { padding: 0; }
.custom-thumbnail .thumbnail .list-group { margin-bottom: 5px; }
.custom-thumbnail .thumbnail .list-group-item { border: 0 none; padding: 5px 10px 5px 10px; }
.img-thumb { border-bottom: 1px solid #ffffff; }
.img-thumb > img { max-width: 100%; width: 100%; height: auto }
h2 > strong { font-size: 17px; }
.m-b-10 { margin-bottom: 10px; }
.searchyearinfo, .sub-cate-des { margin: 10px 0; }
.searchyearinfo { display: inline-block; vertical-align: middle; position: relative; }
.searchyearinfo select { line-height: normal; font-size: 17px; height: 38px; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; display: block; border: 1px solid #c8c8c8; padding: 3px 20px 3px 3px; margin: 0; line-height: normal; }
.ie8 .searchyearinfo select { padding-right: 3px }
.searchyearinfo select:focus { background: #FBF9F9; outline: none; }
.searchyearinfo select::-ms-expand {
display:none;
}
.searchyearinfo:after { content: ""; position: absolute; z-index: 2; right: 8px; top: 50%; margin-top: -3px; height: 0; width: 0; border-top: 6px solid #333; border-left: 6px solid transparent; border-right: 6px solid transparent; pointer-events: none; }
.m-b-0, .panel-group .m-b-0 { margin-bottom: 0; }
.custom-thumbnail .thumbnail .caption i { color: #367c2b; display: none; font-size: 16px; margin-right: 5px; width: 10px; }
.m-t-10 { margin-top: 10px; }
.m-t-15 { margin-top: 15px; }
.m-b-15 { margin-bottom: 15px; }
.custom-text { margin: 10px 0; }
.category-thumb .thumbnail { min-height: 100px; padding: 0; border: 0; }
.category-thumb .thumbnail .caption { padding: 0; }
.category-thumb .thumbnail .list-group { margin-bottom: 0; /*max-height:200px; min-height:200px; overflow-x:auto*/ }
.category-thumb .thumbnail .list-group-item { border: 0 none; padding: 5px 10px 5px 10px; }
.overlay-bg { display: none; }
.custom-thumbnail { margin-bottom: 10px; }
.right-btn { float: right; }
.featured-head .ent_pagetitle { overflow: hidden; padding: 0; }
.featured-head { border-bottom: 1px solid #dbd7d7; margin: 12px 0 13px; padding-bottom: 12px; }
.featured-subhead { margin: 10px 0; }


.custom-list { padding: 15px 0 15px 40px;overflow:hidden; }
.featuredpara ul, .featuredpara ol { padding: 0 0 0 35px;overflow:hidden; }

.featuredpara .table { width: auto; max-width: 100% }
.featured-thumbs figure img, .featured-thumbs .figurediv img { display: block; height: auto; margin: 0 auto; max-width: 100%; width: auto }
.featured-thumbs figure, .featured-thumbs .figurediv { padding: 10px 0; }
.figure-parent { width: auto; float: left; padding: 5px 60px 5px 30px; }
.featured-thumbs figcaption, .featured-thumbs .figtitle { margin: 5px 0 0; text-align: center; max-width: 275px}
.feature-pagetitle { color: #454545; font-size: 18px; font-weight: bold; margin-top: 10px; padding: 5px 5px 5px 0; clear: both;}
.scroll-table th { background: #e3e3e3 none repeat scroll 0 0; color: #333333; padding: 5px 10px; text-align: center; }
.scroll-table-inner { overflow-x: auto; table-layout: fixed; }
.scroll-table, .scroll-table td, .scroll-table th { border: 1px solid #cccccc; }
.scroll-table td { height: 35px; padding: 5px 10px; }
.col-right-border{border-left: 2px solid #999999;padding-left: 12px;}
.functional-body ul, ul.inline-visible { overflow: hidden; padding: 0px 0px 0px 35px; }
ol.inline-visible, .functional-body ol { overflow: hidden; padding: 0 25px; }
.functional-body ul#navigation, .functional-body .nav.sidenav { padding: 0 !important; overflow: inherit !important }
.functional-body .region { right: -26px; top: -3px; }
#JDO_Hero_Container #banner li { background: #ffffff none repeat scroll 0 0 !important; height: 374px !important; list-style-image: none; width: 1170px !important; }
#JDO_Hero_Container #banner img { height: 374px; float:left;}
#JDO_Hero_Container {  }
.col-right { border-left: 2px solid #999999; float: right; padding-left: 25px; width: 25%; }
.col-left { float: left; width: 75% }
.index-container { margin-top: 15px; }
.thumbbox .sbuCol3 { width: auto; }
.thumbbox .sbuCol3 > h4 { font-size: 15px; font-weight: bold; margin-bottom: 5px; padding: 2px 0; text-transform: uppercase; }
.announcement > h4 { font-weight: bold; text-transform: uppercase; }
.thumbbox .sbuCol3 p { padding: 0; }
.thumbbox .sbuCol3 img { height: auto; width: 100%; max-width: 100% }
.announ-link i { display: none; }
.cmn-printbtn { float: right; margin: 1px 0 0 20px; width: 101px; }
.big-search { float: right; max-width: 270px; overflow: hidden; }
.sidenav li { list-style-image: none; }
.min-space { margin-bottom: 10px; min-height: 34px; z-index:1 !important;}
.footerLink .col-lg-12, #footerBg .col-lg-12 { padding: 0; }
.footerLink p a:first-child { padding-left: 0; }
.suplement-subhead { font-size: 15px; margin: 10px 0; }
.detail-info { margin: 20px 0; }
.detail-info p, .items-detail-info p { padding: 1px 0; }
.suplement-table table th, .suplement-table table td { padding: 5px; }
.custom-accrodians { margin: 30px 0; }
.accrodians-head { background: url("../img/arrow.png") no-repeat scroll 1px 5px; color: #454545; cursor: pointer; font-weight: bold; padding-left: 20px; }
.accrodians-head:hover { text-decoration: underline; }
.accrodians-head.current-head { background: url("../img/arrow.png") no-repeat scroll 1px -107px; }
.item-data { display: none; margin: 0 0 20px 20px; }
.expand-accrodian .item-data { display: block; }
.active { color: #000000; }
.m-t-35 { margin-top: 35px; }
.m-t-20 { margin-top: 20px }
.suplement-table .scroll-table-inner table ul, .supplement-body table ul, .supplement-body table ol { padding-left: 15px; }
.suplement-table .scroll-table-inner table, .withcmn-property table { border-collapse: inherit; border-spacing: 2px; }
.secondary-head { margin: 10px 5px 8px 0; }
.bg-green { background: #35aa44 none repeat scroll 0 0; }
.bg-yellow { background: #ffff80 none repeat scroll 0 0; }
.bg-gray { background: #f1f1f1 none repeat scroll 0 0; }
.withcmn-property { margin: 15px 0 20px; }
.specsViewTable { border: 1px solid #e1e1e1; margin-bottom: 15px; width: 100%; }
.specsViewTable td, .specsViewTable th { padding: 10px; }
.specsViewTable tr:nth-child(2n+1) { background-color: #ffffff; }
.specsViewTable tr:nth-child(2n) { background-color: #fbfbfb; }
.specsViewTable .specshead td { border: 0 none; font-size: 18px; padding: 10px 13px; text-transform: uppercase; }
.specsViewTable .specssubehead td { border: 0 none; font-size: 16px; font-weight: bold; padding: 10px; text-transform: uppercase; }
.specsViewTable tr.specshead:nth-child(2n+1) { background: #367c2b none repeat scroll 0 0; color: #ffffff; text-transform: uppercase; }
.specsViewTable tr.specssubehead:nth-child(2n+1) { background: #f1f1f1 none repeat scroll 0 0; color: #454545; font-weight: bold; }
.specsViewTable .specssubehead td { padding: 15px 10px; }
.lastUpdateright { color: #999999; font-style: italic; text-align: right; }
.featured-table td ul { margin: 10px 10px 10px 15px; }
.c-menu { background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0; }
.c-menu--slide-left .c-menu__itemsub a { font-size: 16px; text-decoration: none; }
#sub2.nav > li > a { font-size: 16px; font-weight: normal; }
.c-menu--slide-left .c-menu__item a { color: #ffffff; font-size: 16px; font-weight: normal; }
.c-menu__close { background-color: #000000; }
.item-image { margin-bottom: 10px; overflow: hidden; position: relative; }
.item-image img { max-width: 100% }
.custom-cols div[class*="col-"]:first-child { padding-left: 0; padding-right: 10px; }
.custom-cols div[class*="col-"]:last-child { padding-left: 10px; padding-right: 0; }
.table-responsive > .fixed-column { border-right: 1px solid #dddddd; display: inline-block; position: absolute; width: auto; }
.table-striped { background: #ffffff none repeat scroll 0 0; }
.table-compare td { border-bottom: 0 none !important; border-top: 0 none !important; padding: 10px !important; }
.table-compare tr.specssubehead th { border-bottom: 0 none; }
.table-compare .specssubehead th, .table-compare .specssubehead th { font-size: 16px; font-weight: bold; padding: 10px; text-transform: uppercase; }
.table-compare { margin-bottom: 0; width: 100% }
.table-compare tr.specssubehead:nth-child(2n+1) { background: #f1f1f1 none repeat scroll 0 0; color: #454545; font-weight: bold; }
.table-compare tr:nth-child(2n+1) { background: #ffffff none repeat scroll 0 0; }
.table-compare tr:nth-child(2n) { background: #fbfbfb none repeat scroll 0 0; }
.table-compare td.ternary-head { font-size: 14px; font-weight: bold; text-transform: uppercase; padding-left: 5px }
.specs-pager .pagination { float: right; margin: 0; }
.specs-pager { overflow: hidden; padding: 10px 0; }
.text-show { color: #cccccc; padding: 7px 0 5px; }
.specs-pager div[class*="col-"] { padding: 0; }
.btn-next { color: #333333 !important; font-weight: bold; }
.specs-pager .pagination > li > a, .specs-pager .pagination > li > span { border: 0 none; border-radius: 0; color: #367c2b; font-weight: bold; margin: 7px 1px 4px; padding: 0 10px; }
.specs-pager .pagination > li > a:focus, .specs-pager .pagination > li > a:hover, .specs-pager .pagination > li > span:focus, .pagination > li > span:hover { background: transparent; border-bottom: 2px solid #367c2b; color: #333333; }
.specs-pager .pagination > li:last-child > a, .specs-pager .pagination > li:last-child > span, .specs-pager .pagination > li:first-child > a, .specs-pager .pagination > li:first-child > span { border-radius: 4px; margin: 0 5px; padding: 6px 10px; }
.specs-pager .pagination > .active > a, .specs-pager .pagination > .active > a:focus, .specs-pager .pagination > .active > a:hover, .specs-pager .pagination > .active > span, .specs-pager .pagination > .active > span:focus, .specs-pager .pagination > .active > span:hover { background: transparent; border-bottom: 2px solid #367c2b; color: #333333; }
.btn.btn-default, .btn-next, .btn-prev { background: #000000 linear-gradient(to bottom, #ffffff 1%, #f9f9f9 51%, #eaeaea 99%) repeat scroll 0 0; border: 1px solid #cccccc !important; }
.btn.btn-default:hover, .btn-next:hover, .specs-pager .pagination > li:last-child > a:hover, .specs-pager .pagination > li:last-child > span:hover { background: #000000 linear-gradient(to bottom, #eaeaea 0%, #f9f9f9 51%, #ffffff 96%) repeat scroll 0 0; }
.compare-col.head { background: #ffdd00 none repeat scroll 0 0; color: #454545; font-weight: bold; }
.compare-col { background: rgba(255, 221, 0, 0.3) none repeat scroll 0 0; }
.functional-body img, .featuredpara img { max-width: 100%; width: auto; height: auto; }
.functional-body table, .featuredpara table, .featuredpara table { border-collapse: collapse; border-spacing: 2px; margin-bottom: 5px; max-width: 100%; width: auto; }
.functional-body table td, .functional-body table th, .featuredpara table th { padding: 4px; }
.scrollable { overflow-x: auto; }
.scrollable.has-scroll { position: relative; overflow: hidden; /* Clips the shadow created with the pseudo-element in the next rule. Not necessary for the actual scrolling. */ }
/*.scrollable.has-scroll:after { position: absolute; top: 0; left: 100%; width: 50px; height: 100%; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -1px 0 10px rgba(0, 0, 0, 0.25); content: ''; }*/
/* This is the element whose content will be scrolled if necessary */
.scrollable.has-scroll > div { overflow-x: auto; }
.scrollable > div::-webkit-scrollbar {
 height:10px;
}
.scrollable > div::-webkit-scrollbar-track {
 box-shadow:0 0 1px rgba(0,0,0,0.15) inset;
 background:#f0f0f0;
}
.scrollable > div::-webkit-scrollbar-thumb {
 border-radius:6px;
 background:#ccc;
}
.scrollable > div > table { margin-bottom: 20px; }
.scrollable > div > table table { margin-bottom: 0; width: auto; padding: 0; border-spacing: 0 }
.scrollable > div > table table td { padding: 0 3px 0 0; }
h3.normalHead { margin: 0 0 20px 0; padding: 0; color: #454545; text-transform: capitalize; font-size: 18px; font-weight: bold; }
input[type='radio'] { height: inherit }
.product-seachform .checkbox, .product-seachform .radio { margin-top: 0; }
.product-seachform select { width: 100% }
h1.greenHead { color: #000000; font-size: 20px; font-weight: bold; margin-bottom: 0; padding: 5px 5px 5px 0; }
.product-seachform .row .col-md-6:first-child { border-right: 1px solid #ccc }
.product-seachform .row .col-md-6 { min-height: 250px; }
.listTool > li a { margin-left: 4px; }
.custom-jdpager { text-align: right; padding-top: 7px; }
.custom-jdpager a { font-size: 14px }
.custom-jdpager a:first-child { margin-right: 10px; }
.custom-jdpager a:last-child { margin-left: 10px; }
.table-compare td:first-child { padding-left: 15px !important; }
.specsViewTable td.subattr { padding-left: 18px !important; }
.table-compare td.subattr { padding-left: 20px !important; }
.specscomp-btn { margin: 10px 0 }
.sub-check { margin-left: 50px }
.sub-check input[type=checkbox], .competitors input[type=checkbox], .innersub-check input[type=checkbox] { height : auto; }
.competitors input[type=checkbox]:checked::after { color: red }
.specscomp-subhead { font-size: 15px; font-weight: bold; border: 1px solid #E6E1E1; background-color: #eee; padding: 8px 10px; color: #367c2b }
.displayspecs-head { font-size: 15px; font-weight: bold; border: 1px solid #E6E1E1; background-color: #367c2b; padding: 8px 10px; color: #fff; }
.specsdisplay-subhead { font-size: 15px; font-weight: bold; background-color: #eee; padding: 8px 20px; color: #367c2b }
.checkbox.competitors { margin: 0; }
.innersub-check { margin-left: 28px; }
.dropdown-fluid select { width: 100% }
.errorMessage { color: red; }
.minheight-3 { min-height: 300px; }
.productButton .btn { margin-bottom: 5px }
.table.table-noboder td { border: 0; }
.archivedmodal { margin: 20px 0; }
.archivedmodal h3 { padding: 0; color: #454545; text-transform: capitalize; font-size: 18px; font-weight: bold; }
.importantinfo { margin: 10px 0 }
.functionalmodal { margin-top: -33px; }
.video-icon { font-size: 23px; }
.functional-body .iw-vpreview-blurred table { max-width: inherit; width: 100%; }
.functional-body .iw-vpreview-blurred th, .functional-body .iw-vpreview-blurred table td { padding: 0 }
.toc-wrap  .scroll-table-inner { width:100%}
.toc-wrap { margin-top:20px;}
#iw-vpreview{z-index:1;}

@media (min-width: 1025px) and (max-width: 1200px) {
#JDO_Hero_Container #banner img {  }
.JDO_Vertical_Overlay_Yellow{width:322px;}
#pager a {    width: 22px;    height: 22px; line-height:22px !important}
}

@media (min-width: 993px) and (max-width: 1024px) {
#JDO_Hero_Container #banner img {  }
#JDO_Hero_Container { width: inherit; }
.JDO_Vertical_Overlay_Yellow{width:322px;}
#pager a {   width: 22px;    height: 22px; line-height:22px !important}
}

@media (min-width: 992px) and (max-width: 992px) {
.col-md-offset-2.modal-rcontent { margin-left: 0; }
}

@media (max-width: 992px) {
.custom-row { min-height: 44px; padding: 0 15px; }
.custom-right { width: 80px; }
.thumbbox .sbuCol3 { padding: 0; width: 100%; }
.col-right, .col-left { float: none; margin: 0; overflow: inherit; padding: 0; width: auto; }
.col-right { border-left: 0 none; margin-bottom: 15px; overflow: hidden; }
.index-container { padding: 0 30px; }
.announ-link i { display: block; float: right; }
.announ-link { cursor: pointer; }
.cmn-col { margin-bottom: 10px; }
.thumbbox .sbuCol3 > h4 { font-size: 18px; font-weight: normal; margin-bottom: 10px; }
.announcement > h4 { font-size: 15px; }
.modal-savecontent { padding-top: 10px; width: 100%; }
.modal-head { padding: 10px 5px 0 0; }
.imgContnr { float: none !important; padding: 10px 0; }
.modal-savecontent .panel-group { margin-bottom: 0; }
.subhead-row { min-height: 44px; }
.custom-cols div[class*="col-"]:first-child { padding-left: 0; padding-right: 0; }
.custom-cols div[class*="col-"]:last-child { padding-left: 0; padding-right: 0; }
.min-space { margin-bottom: 0; }
.item-image { margin-top: 20px; }
.flex-content { display: -moz-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -moz-box-orient: vertical; -webkit-box-orient: vertical; -webkit-flex-flow: column; -ms-flex-direction: column; flex-flow: column; }
.col-right { -moz-box-ordinal-group: 1; -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.col-left { -moz-box-ordinal-group: 2; -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
.custom-left .m-t-10 { margin-top: 0 !important; }
.functional-body { clear: both; }
}

@media (min-width: 768px) and (max-width: 768px) {
.productButton input[type="button"], .productButton button { display: block; margin-bottom: 5px; width: 100% }
}

@media(min-width:768px) {
.table-responsive>.fixed-column { display: none; }
}

@media (max-width: 767px) {
.custom-thumbnail .thumbnail { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: -moz-use-text-color -moz-use-text-color #b1acac; border-image: none; border-radius: 0; border-style: none none solid; border-width: 0 0 1px; margin-bottom: 0; min-height: inherit; overflow: hidden; }
.collapse-content { display: none; }
.custom-thumbnail .thumbnail .caption { cursor: pointer; }
.custom-thumbnail .thumbnail .caption i { display: inline-block; }
.custom-thumbnail .row:last-child .thumbnail { border-bottom: 0 none; }
.ent_sectionbar { padding: 10px; }
.searchyearinfo select { width: 100%; }
.slideover-content .list-group { display: none; }
.category-thumb .thumbnail { min-height: inherit; }
.overlay-bg { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0; cursor: pointer; display: none; height: 100%; left: 0; position: absolute; top: 144px; width: 100%; z-index: 1000; }
.overlay-listcontent .list-group-item { background: transparent; border-color: #cccccc; border-left: 0 none #cccccc; border-radius: 0; border-right: 0 none #cccccc; }
.overlay-listcontent .list-group-item > a { color: #ffffff; }
.close-btn { color: #ffffff; cursor: pointer; position: absolute; right: 15px; top: 11px; }
.close-btn > i { font-size: 25px; font-weight: normal; }
.overlay-head { color: #ffffff; font-size: 20px; padding: 10px 50px 12px 15px; background: rgba(0,0,0,0.5); }
.category-thumb .thumbnail:hover .caption h3 { background: #198519 none repeat scroll 0 0; cursor: pointer; }
.category-thumb .thumbnail .img-thumb { cursor: pointer }
.custom-thumbnail .thumbnail .list-group-item { background: #dddddd none repeat scroll 0 0; border-radius: 0; border-right: 1px solid #ffffff; float: left; font-weight: bold; margin-bottom: 1px; padding: 10px; text-align: center; width: 50%; }
.custom-thumbnail .thumbnail .list-group-item:nth-child(2n) a { color: #367c2b; }
.featured-head .ent_pagetitle { margin-right: 70px; }
.scroll-table-outer { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: -moz-use-text-color #cccccc; border-image: none; border-style: none solid; border-width: 0 1px; }
.scroll-table-inner { margin-left: -1px; margin-right: -1px; }
.footerLink p a { padding: 0 7px; }
.suplement-table { border: 1px solid #cccccc; }
.suplement-table .scroll-table-inner { margin: 3px; }
.scroll-table-inner table { width: 100%; }
.suplementhead { -moz-box-align: stretch; -moz-box-orient: vertical; -moz-box-pack: start; display: -moz-box; }
.suplementhead .right-btn, .suplementhead .ent_pagetitle { -moz-box-ordinal-group: 1; clear: both; float: none; margin: 0 auto; }
.suplementhead .right-btn { -moz-box-ordinal-group: 2; }
.suplementhead .ent_pagetitle { -moz-box-ordinal-group: 1; clear: both; float: none; margin: 0 0 10px; overflow: inherit; }
.lastUpdateright { text-align: left; }
.marginLeft { margin: 0 0 0 3px; }
.suplementhead .btn { margin-left: 0; margin-right: 5px; }
ul.listTool li { float: left; padding: 0 12px 0 0; }
.space-viewtaable .scroll-table-outer { border: 0 none; }
.specs-pager .pagination { float: none; }
.specs-btn .btn.btn-default { padding-left: 5px; padding-right: 5px; }
.product-seachform .row .col-md-6:first-child { border-right: 0; border-bottom: 1px solid #ccc; margin-bottom: 15px; }
.product-seachform .row .col-md-6 { min-height : inherit }
.img-thumb { max-height: inherit }
.featured-thumbs figure, .featured-thumbs .figurediv { float: none; }
.custom-jdpager { text-align: left; padding-top: 0; }
.specs-pager { padding: 5px 0 10px; }
.topLinksNav { margin-bottom: 5px; }
.searchyearinfo { display: block }
.importantinfo { margin: 0; }
}

@media (max-width: 480px) {
ul.listTool li { float: left; min-width: 120px; padding-bottom: 10px; padding-right: 25px; }
.imgContnr {  }
.footerLink p a { padding: 0 1px; }
.productButton input[type="button"], .productButton button { display: block; margin-bottom: 5px; width: 100% }
}

@media (max-width: 310px) {
.space-viewtaable .scroll-table-inner { border: 1px solid #cccccc; }
.specsViewTable { border: 0 none; margin-bottom: 0; }
.space-viewtaable .scroll-table-outer { margin-top: 15px; }
.suplementhead .right-btn button { display: block; margin-bottom: 5px; width: 100% }
}
