
.button {
  height:30px;
  border-radius:0px 3px 3px 0px;
  position:relative;
  left:-8px;
  top: 1px;
  padding: 0px 10px;
  background-color: #ffdd00 !important;
  background-image: -moz-linear-gradient(top, #ffdd00, #FFD621) !important;
  background-image: -webkit-linear-gradient(top, #ffdd00, #FFD621) !important; 
  background-image: -o-linear-gradient(top, #ffdd00, #FFD621) !important; 
  background-image: linear-gradient(to bottom, #ffdd00, #FFD621) !important; 
  background-repeat: repeat-x;
  border:0px !important;
  border:none;
  cursor: pointer;  
}

.btn {
  height:29px;
  top: -2px !important; 
  position:relative;
}
.button img{position:relative;top:1.5px;}
.search {              
  height:25px;
}